.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 5rem;
  }

  .my-line-2{
    font-size:3rem;
    text-align: left !important;
    line-height:1;
    width:90%;
    margin:2rem 0rem;
    font-weight: 500;
  }
  
  .left-section {
    flex: 1;
    padding-right: 20px;
  }
  
  .right-section {
    flex: 1;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .stat {
    text-align: center;
    margin-bottom: 20px;
  }
  
  hr {
    width: 100%;
    margin: 10px 0;
    border: 0;
    border-top: 1px solid #ddd;
  }

  h3{
    font-size:2.5rem;
    font-weight: 600;
    color: rgb(255, 255, 255)
  }

  @media (max-width: 600px) {


.my-line-2{
        font-size:1.8rem;
        margin-top: 0rem !important;
        text-align: center !important;
        width:100%;
        line-height: 2.2rem;
    }

  .container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1.2rem;
  }

  .left-section, .right-section {
    padding: 0;
    width: 100%;
  }

  .right-section {
    margin-top: 20px;
  }

  h3{
    font-size:2.2rem;
  }
}