<div class="text-center my-line">Hire! <span style="color: blueviolet;"> a Dedicated Team</span></div>

<div class="container">
    <div class="rounded-rectangle">
        <div class="collaboration">
            <div class="circle tester1"></div>
            <div class="circle developer"></div>
            <div class="circle tester"></div>
        </div>
        <h4>Hire a Team</h4>
        <p>Lorem ipsum dolor sit amet, conipisicing elit eius ut voluptatibus ad impedit commodi aliquid impedit ame. </p>
        <div class="startContainer">
            <button class="button pulseText" (click)="goToPricing()">Test Your Product</button>
        </div>
    </div>
</div>

<div style="margin-bottom: 2rem;"></div>