<div class="form-style-10">
    <h1>Contact Us Now!<span>Contact us and let us know about your site!</span></h1>
    <form>
        <div class="section"><span>1</span>Name & Requirement</div>
        <div class="inner-wrap">
            <label>Full Name <input type="text" name="field1" /></label>
            <label>Requirement <textarea name="field2"></textarea></label>
        </div>
    
        <div class="section"><span>2</span>Email & Phone</div>
        <div class="inner-wrap">
            <label>Email Address <input type="email" name="field3" /></label>
            <label>Mobile Number <input type="text" name="field4" /></label>
        </div>

        <div class="button-section">
         <input type="submit" name="Sign Up" />
        </div>
    </form>
</div>



<footer>
        <div class="footer">
        
        <div class="row">
            <ul>
                <li><a href="#">Contact us</a></li>
                <li><a href="#">Our Services</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms & Conditions</a></li>
                <li><a href="#">Career</a></li>
            </ul>
        </div>
        
        <div style="opacity: 50%;" class="row">Copyright © 2024 - All rights reserved</div>
        </div>
</footer>